.gear-dropdown {
    margin-right: 20px;
}

.logo-container {
    max-width: 300px !important;
    margin-left: 15px;
}

.grid-feed-view-triggers {
    border: 0 !important;
}

.grid-feed-view-triggers li{
    border: 0 !important;
}

.active {
    border: 0 !important;
}

.active button {
    color: #0d6efd !important;
}

.nav-link {
    color: balck;
}

.post-title{
    margin-left: 10px;
}

.post-date {
    margin-right: 9px;
}

.likes-caption-container p {
    margin-bottom: 0;
    margin-left: 9px;
}

.post-feed-container {
    margin-right: 0 !important;
    flex-direction: column;
}

.post-container {
    padding: 0 !important;
    margin-top: 17px !important;
    border: solid 1px black;
    border-radius: 5px;
}